<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Create View')"></head>

<body class="">
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<div class="container">

    <div class="card-container mx-5">
        <div class="card bg-light text-dark col-xl-4">
            <div class="card-body">
                <h5 class="card-title">Create a Post</h5>
                <hr>

                <!--  FORM -->

                <form th:action="@{|/posts/create|}" th:method="POST" th:object="${post}">
                    <div class="col-xl-12">
                        <label for="title"> Title</label>
                        <input type="text" th:field="*{title}" placeholder="Enter tile"/>
                    </div>
                    <div class="col-xl-12">
                        <label for="body">body</label>
                        <input type="text" th:field="*{body}" placeholder="Enter text"/>

                        <label for="access" class="m-1 font-weight-bold">Select Access</label><br>
                        <select class="selectpicker text-center" id="access" name="access" multiple data-live-search="false"
                                data-flip="false">
                            <!--                    <option selected>Select Category</option>-->
                            <option name="categories" id="public" value="public">Public</option>
                            <option name="categories" id="private" value="private">Private</option>
                        </select>
                    </div>

                    <div class="col-xl-12">
                        <button class="button" type="button" id="picker">
                            Upload Image
                        </button>
                        <input name="fileupload" id="fileupload" th:field="*{postImageUrl}" type="hidden">
                        <label for="categories" class="m-1 font-weight-bold">Select Categories</label><br>
                        <select class="selectpicker text-center" id="categories" name="categories" multiple data-live-search="true"
                                data-flip="false">
                            <!--                    <option selected>Select Category</option>-->
                            <option name="categories" id="American" value="1">American</option>
                            <option name="categories" id="Chinese" value="2">Chinese</option>
                            <option name="categories" id="Italian" value="3">Italian</option>
                            <option name="categories" id="Vegetarian" value="4">Vegetarian</option>
                            <option name="categories" id="Vegan" value="5">Vegan</option>
                            <option name="categories" id="Thai" value="6">Thai</option>
                            <option name="categories" id="Indian" value="7">Indian</option>
                            <option name="categories" id="Mexican" value="8">Mexican</option>
                            <option name="categories" id="German" value="9">German</option>
                            <option name="categories" id="Greek" value="10">Greek</option>
                            <option name="categories" id="Mediterranean" value="11">Mediterranean</option>
                            <option name="categories" id="Cajun" value="12">Cajun</option>
                            <option name="categories" id="Latin" value="13">Latin</option>
                            <option name="categories" id="French" value="14">French</option>
                            <option name="categories" id="Filipino" value="15">Filipino</option>
                        </select>

                    </div>
                    <div class="col-xl-12">
                        <!--                            <button class="loginSign-btn" id="save">Save Post</button>-->
                        <input id="save" class="" value="Create Post" type="submit"/>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="fixed-bottom">
    <div th:replace="fragments/scripts.html :: scripts"></div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>