<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/header :: head('Create View')"></head>

<body class="h-100 background-maroon">
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>


<div class="container d-flex h-100">


        <div class="row bg-light text-dark col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg login-box-image">

            <div class="text-center">
                <h3 class="card-title text-dark landing-header">Create a Post</h3>
                <hr>

                <!--  FORM -->

                <form th:action="@{|/posts/create|}" th:method="POST" th:object="${post}" >
                        <label for="title"></label>
                        <input type="text" th:field="*{title}" placeholder="Enter title" class="form-control w-75 mx-auto"/>

                        <label for="body"></label>
                    <textarea rows="4" cols="50" type="text" th:field="*{body}" placeholder="Enter text" class="form-control w-75 mx-auto"></textarea>
                    <div>
                        <label for="access" class="m-1 font-weight-bold">Select Access</label><br>
                        <select class="selectpicker mb-3 m-1 select-me text-center" id="access" name="access" multiple data-live-search="false"
                                data-flip="false">
                            <option name="categories" id="public" value="public">Public</option>
                            <option name="categories" id="private" value="private">Private</option>
                        </select>
                    </div>

                    <div>
                        <button class=" w-75 mx-auto form-control" type="button" id="picker">
                        Upload Image
                        </button>
                    </div>

<!--                    <div class="col-xl-12">-->

                        <input name="fileupload" id="fileupload" th:field="*{postImageUrl}" type="hidden" class="form-control mx-auto">
                        <label for="categories" class="m-1 font-weight-bold">Categories</label><br>
                        <select class="m-1 selectpicker mb-3 select-me text-center text-dark" id="categories" name="categories" multiple data-live-search="true"
                                data-flip="false">
                            <!--                    <option selected>Select Category</option>-->
                            <option name="categories" id="Sports" value="1">Sports</option>
                            <option name="categories" id="Technology" value="2">Technology</option>
                            <option name="categories" id="Beauty" value="3">Beauty</option>
                            <option name="categories" id="Travel" value="4">Travel</option>
                            <option name="categories" id="Personal" value="5">Personal</option>
                            <option name="categories" id="Politics" value="6">Politics</option>
                            <option name="categories" id="Food" value="7">Food</option>
                            <option name="categories" id="TV" value="8">TV</option>
                            <option name="categories" id="Automobiles" value="9">Automobiles</option>
                            <option name="categories" id="Home-Improvement" value="10">Home Improvement</option>
                            <option name="categories" id="Animals" value="11">Animals</option>
                            <option name="categories" id="Shopping" value="12">Shopping</option>
                            <option name="categories" id="Gaming" value="13">Gaming</option>
                            <option name="categories" id="Shows-Concerts" value="14">Shows/Concerts</option>
                        </select>
<!--                    </div>-->

                        <!--                            <button class="loginSign-btn" id="save">Save Post</button>-->
                        <input id="save" value="Create Post" type="submit" class="form-control w-75 mx-auto"/>
                </form>
            </div>
        </div>

</div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<!--<div class="fixed-bottom">-->
<!--    <footer th:replace="fragments/footer.html :: footer"></footer>-->
<!--</div>-->
</body>
</html>
