<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Create View')"></head>

<body class="">
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<div class="container">

<!--    <header class="container my-5"></header>-->
<!--    <div class="jumbotron">-->
<!--        <h1 class="text-left mx-5 display-1" id="h1-create"> Edit a Post</h1>-->
<!--    </div>-->

    <div class="card-container mx-5">
        <div class="card bg-light text-dark col-xl-4">
            <div class="card-body post-Create">
                <h5 class="">Edit a Post</h5>
                <hr>

                <!--  FORM -->

                <form th:action="@{|/posts/${post.id}/edit|}" th:method="POST" th:object="${post}">
                    <div class="col-xl-12">
                        <label for="title"> Title</label>
                        <input type="text" th:field="*{title}" placeholder="Enter tile"/>
                    </div>
                    <div class="col-xl-12">
                        <label for="body">body</label>
                        <input type="text" th:field="*{body}" placeholder="Enter text"/>
                    </div>

                    <div class="col-xl-12 ">
                            <button class="button" type="button" id="picker">
                                Upload Image
                            </button>
                        <input name="fileupload" id="fileupload" th:field="*{postImageUrl}" type="hidden">

                        <label for="categories" class="m-1 font-weight-bold">Select Categories</label><br>
                        <select class="selectpicker text-center" id="categories" name="categories" multiple data-live-search="true"
                                data-flip="false">
                            <!--                    <option selected>Select Category</option>-->
                            <option name="categories" id="Sports" value="1">Sports</option>
                            <option name="categories" id="Technology" value="2">Technology</option>
                            <option name="categories" id="Beauty" value="3">Beauty</option>
                            <option name="categories" id="Travel" value="4">Travel</option>
                            <option name="categories" id="Personal" value="5">Personal</option>
                            <option name="categories" id="Politics" value="6">Politics</option>
                            <option name="categories" id="Food" value="7">Food</option>
                            <option name="categories" id="TV" value="8">TV</option>
                            <option name="categories" id="Automobiles" value="9">Automobiles</option>
                            <option name="categories" id="Home-Improvement" value="10">Home Improvement</option>
                            <option name="categories" id="Animals" value="11">Animals</option>
                            <option name="categories" id="Shopping" value="12">Shopping</option>
                            <option name="categories" id="Gaming" value="13">Gaming</option>
                            <option name="categories" id="Shows-Concerts" value="14">Shows/Concerts</option>
                        </select>
                    </div>
                    <div class="col-xl-12">
<!--                                                    <button class="loginSign-btn" id="save">Save Post</button>-->
                        <input id="save" class="" type="Submit"/>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="fixed-bottom">
    <div th:replace="fragments/scripts.html :: scripts"></div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>