<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('Post View')"></head>

<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>


<div class="container">
    <div sec:authorize="isAuthenticated()">
        <div th:if="${user.id} != ${post.user.id}">
            <a th:href="@{|/contact-us/${post.id}|}">
                <button>Report an Issue</button>
            </a>
        </div>
    </div>
    <img th:attr="src=@{${post.postImageUrl}}" style="width: 5em; height: 5em;"/>
    <h2 th:text="${post.user.username}"></h2>
    <h2 th:text="${post.title}"></h2>
    <h4 th:text="${post.body}"></h4>
    <div th:each="comment : ${post.comments}">
        <h4 th:text="${comment.comment_txt}"></h4>
    </div>
    <div th:each="category : ${post.categories}">
        <h4 th:text="${category.name}"></h4>
    </div>

    <div sec:authorize="isAuthenticated()">
<!--        <div th:if="${user.id} != ${post.getUser().id}">-->
<!--            <a href="/contact-us">-->
<!--                <button>Report Issue</button>-->
<!--            </a>-->
<!--        </div>-->
        <div th:if="${user.id} == ${post.getUser().id} OR ${user.userRole} == 'admin'">
            <a th:href="@{|/posts/${post.id}/edit|}">
                <button>Edit</button>
            </a>
            <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>

        <div th:if="|${!user.containsPost(post)}|">
            <form th:action="@{|/favorite/${post.id}|}" th:method="POST">
                <button type="submit">Add to Favorites</button>
            </form>
        </div>
        <div th:if="|${user.containsPost(post)}|">
            <form th:action="@{|/favorites/${post.id}/delete|}"
                  th:method="POST">
                <button type="submit">Remove Favorite</button>
            </form>
        </div>
    </div>
</div>


<div class="fixed-bottom">
    <div th:replace="fragments/scripts.html :: scripts"></div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>



