<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('Post View')"></head>

<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>


<div class="container">
    <img th:attr="src=@{${post.postImageUrl}}"/>
    <h2 th:text="${post.user.username}"></h2>
    <h2 th:text="${post.title}"></h2>
    <h4 th:text="${post.body}"></h4>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${user.id} == ${post.getUser().id} OR ${user.userRole} == 'admin'">
            <a th:href="@{|/posts/${post.id}/edit|}">
                <button>Edit</button>
            </a>
            <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>


<div class="fixed-bottom">
    <div th:replace="fragments/scripts.html :: scripts"></div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>



