<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head('Comment')">
</head>
<body>
    <nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<div class="container">

    <div class="card-container mx-5">
        <div class="card bg-light text-dark col-xl-4">
            <div class="card-body">
                <h5 class="card-title">Create a Comment</h5>
                <hr>

                <!--  FORM -->


                <form th:action="@{|/comments/post/${post.id}|}" th:method="post" th:object="${comment}">
                    <label for="comment_txt" class="font-weight-bold">Add a comment</label><br>
                    <input id="comment_txt" class="mx-auto w-75 shadow-sm form-control" placeholder="Enter comment.."
                           th:field="*{comment_txt}"/>
                    <br/>
                    <input type="submit" class="editComment-button"/>
                </form>

<!--                <form th:action="@{|/comments/post/${post.id}|}" th:method="POST" th:object="${comment}">-->
<!--                    &lt;!&ndash; <div class="col-xl-12">-->
<!--                        <label for="title">Comment</label>-->
<!--                        <input type="text" th:field="*{comment_txt}" placeholder="Enter tile"/>-->
<!--                    </div> &ndash;&gt;-->
<!--                    <div class="col-xl-12">-->
<!--                        <label for="body">body</label>-->
<!--                        <input type="text" th:field="*{comment_txt}" placeholder="Enter text"/>-->

<!--                        &lt;!&ndash; <label for="access" class="m-1 font-weight-bold">Select Access</label><br>-->
<!--                        <select class="selectpicker text-center" id="access" name="access" multiple data-live-search="false"-->
<!--                                data-flip="false">-->
<!--                        <option selected>Select Category</option>&ndash;&gt;-->
<!--                            &lt;!&ndash; <option name="categories" id="public" value="public">Public</option>-->
<!--                            <option name="categories" id="private" value="private">Private</option>-->
<!--                        </select> &ndash;&gt;-->
<!--                    </div>-->

<!--                    <div class="col-xl-12">-->
<!--                        &lt;!&ndash;                            <button class="loginSign-btn" id="save">Save Post</button>&ndash;&gt;-->
<!--                        <input id="save" class="" value="Create Post" type="submit"/>-->

<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<div class="fixed-bottom">
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>