<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('navbar')">

<body>
<th:block th:fragment="user-navbar">
    <nav class="navbar navbar-expand-xl sticky-top navbar-1">
<!--        <a th:href="@{/}" class="pull-left pl-2 my-1"><img class="nav-logo" src="/images/imagescontainer/PantryChef%20Logo%201500x1500.png"></a>-->
        <a class="temp-name" th:href="@{/}">Bloggie</a>
        <button class="navbar-toggler my-auto nav-hamburgerIcon" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="custom-toggler navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right pr-2">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts}">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts/create}">Create Post</a>
                    </li>

                    <li class="nav-item ml-auto">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>

                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn logout" style="margin-top: 1px">Logout</button>
                        </form>
                    </li>

                </th:block>

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts}">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>

                    <li>
                        <a class="nav-link" th:href="@{/sign-up}">Sign Up!</a>
                    </li>

                </th:block>
            </ul>
        </div>
    </nav>
</th:block>

<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
