<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments/header :: head('Profile')"></head>

<body class="background-maroon">
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<header class="container my-5"></header>
<div class="jumbotron-show">
    <h1 class="text-center text-light display-1" id="h1-profile"></h1>
</div>

<!--//password confirmation stuff// -->
<div th:if="${ccp}" class="alert alert-danger text-center mt-2">
    Current Password Incorrect.
</div>
<div th:if="${mp}" class="alert alert-danger text-center mt-2">
    Passwords Do Not Match.
</div>
<div th:if="${sei}" class="alert alert-success text-center mt-2">
    Your Information Was Updated.
</div>
<div th:if="${scp}" class="alert alert-success text-center mt-2">
    Password Has Been Changed.
</div>
                                    <!--fields for editing profile -->
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body background-lavender">
                <h5 class="card-title text-center landing-header">Edit Profile</h5>
                <form class="form-signin" th:action="@{|/profile/edit|}" method="POST"
                      th:object="${user}">
                    <div class="form-label-group d-flex">
                        <label for="username">Username</label>
                        <input class="ml-auto mt-2" id="username" th:field="*{username}"/>
                    </div>
                    <div class="form-label-group d-flex">
                        <label for="firstName">First Name</label>
                        <input class="ml-auto mt-2" id="firstName" th:field="*{firstName}"/>
                    </div>
                    <div class="form-label-group d-flex">
                        <label for="lastName">Last Name</label>
                        <input class="ml-auto mt-2" id="lastName" th:field="*{lastName}"/>
                    </div>
                    <div class="form-label-group d-flex">
                        <label for="email">Email</label>
                        <input class="ml-auto mt-2" id="email" th:field="*{email}"/>
                    </div>
                    <div class="form-label-group d-flex create-photo-upload">
                        <button class=" photo-upload upload-photo photo1 move-right2" type="button" id="picker">
                            <label for="fileupload">Upload Profile photo</label>
                        </button>
                            <input class="ml-auto mt-2" id="fileupload" th:field="*{profileImage}"/>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mt-3 w-75 mx-auto" type="submit">
                        <i class="fas fa-check mr-2"></i>Save Changes
                    </button>
                </form>
            </div>
        </div>
    </div>
                                    <!--  //////////////////////////////////// -->

    <!--//// password fields/////////////////-->
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body background-lavender">
                <h5 class="card-title text-center landing-header">Change Password</h5>
                <form class="form-signin" th:action="@{|/profile/password-edit|}" method="POST">
                    <div class="form-label-group d-flex">
                        <label for="currentPass">Current Password</label>
                        <input class="ml-auto mt-2" type="password" id="currentPass" name="currentPass"/>
                    </div>
                    <div class="form-label-group d-flex">
                        <label for="newPass">New Password</label>
                        <input class="ml-auto mt-2" type="password" id="newPass" name="newPass"/>
                    </div>
                    <div class="form-label-group d-flex">
                        <label for="confirmNewPass">Confirm New Password</label>
                        <input class="ml-auto mt-2" type="password" id="confirmNewPass" name="confirmNewPass"/>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mt-3 w-75 mx-auto" type="submit">
                        <i class="fas fa-check mr-2"></i>Update
                        Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--////////////////////////////////////////////////////////-->
<div th:replace="fragments/scripts.html :: scripts"></div>

</body>
</html>
