<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label class="font-weight-bold" for="username">Username</label><br>
    <input id="username" placeholder="Enter username..." name="username" type="text" class="mx-auto w-75 shadow-sm form-control"/><br>
    <label class="font-weight-bold" for="password">Password</label><br>
    <input id="password" placeholder="Enter password..." name="password" type="password" class="mx-auto w-75 shadow-sm form-control"/><br>
    <br>
    <input class="shadow main-styling-for-buttons mb-3 landingPageNoUnderline landingPage-a-links" type="submit" value="Login"/>
</form>
</body>
</html>