<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="h-100">
<head th:replace="fragments/header :: head('Login')"></head>
<body class="h-100 background-maroon">
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>
<div class="container d-flex h-100">

    <div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg login-box-image">

        <h3 class="text-center text-dark landing-header" id="h1-login">Login</h3>

        <!--login fields-->
        <form th:action="@{/login}" method="post">
            <label class="font-weight-bold" for="username"></label><br>
            <input id="username" placeholder="Enter username..." name="username" type="text"
                   class="mx-auto w-75 shadow-sm form-control"/><br>
            <label class="font-weight-bold" for="password"></label><br>
            <input id="password" placeholder="Enter password..." name="password" type="password"
                   class="mx-auto w-75 shadow-sm form-control"/><br>
            <br>
            <input class="shadow mb-3" type="submit"
                   value="Login"/>
        </form>
        <p style="float: left;" class="p-1 m-0">Don't have an account?</p>
        <p style="float: left;" class="p-1 m-0"><a class="" href="/sign-up">Register</a> to submit your posts today!</p>
    </div>
</div>
<!--footer-->
<div class="fixed-bottom">
    <div th:replace="fragments/scripts.html :: scripts"></div>
<!--    <footer th:replace="fragments/footer.html :: footer"></footer>-->
</div>

<script>
    function debounce(func, wait = 20, immediate = true) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    }

    const sliderImages = document.querySelectorAll('.slide-in');

    function checkSlide() {
        sliderImages.forEach(sliderImage => {
// half way through the image
            const slideInAt = (window.scrollY + window.innerHeight) - sliderImage.height / 2;
// bottom of the image
            const imageBottom = sliderImage.offsetTop + sliderImage.height;
            const isHalfShown = slideInAt > sliderImage.offsetTop;
            const isNotScrolledPast = window.scrollY < imageBottom;
            if (isHalfShown && isNotScrolledPast) {
                sliderImage.classList.add('active');
            } else {
                sliderImage.classList.remove('active');
            }
        });
    }

    window.addEventListener('scroll', debounce(checkSlide));

</script>

</body>
</html>
