<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      class="h-100">-->
<!--<head th:replace="fragments/header :: head('Login')"></head>-->
<!--<body class="h-100">-->
<!--<nav th:replace="fragments/navbar.html :: user-navbar"></nav>-->
<!--<div class="container d-flex h-100">-->

<!--    <div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg login-box-image">-->

<!--        <h1 class="text-center text-dark display-1" id="h1-login">Login</h1>-->

<!--        &lt;!&ndash;login fields&ndash;&gt;-->
<!--        <form th:action="@{/login}" method="post">-->
<!--            <label class="font-weight-bold" for="username">Username</label><br>-->
<!--            <input id="username" placeholder="Enter username..." name="username" type="text"-->
<!--                   class="mx-auto w-75 shadow-sm form-control"/><br>-->
<!--            <label class="font-weight-bold" for="password">Password</label><br>-->
<!--            <input id="password" placeholder="Enter password..." name="password" type="password"-->
<!--                   class="mx-auto w-75 shadow-sm form-control"/><br>-->
<!--            <br>-->
<!--            <input class="shadow mb-3" type="submit"-->
<!--                   value="Login"/>-->
<!--        </form>-->
<!--        <p style="float: left;" class="p-1 m-0">Don't have an account?</p>-->
<!--        <p style="float: left;" class="p-1 m-0"><a class="" href="/sign-up">Register</a> to submit your posts today!</p>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;footer&ndash;&gt;-->
<!--<div class="fixed-bottom">-->
<!--    <div th:replace="fragments/scripts.html :: scripts"></div>-->
<!--    <footer th:replace="fragments/footer.html :: footer"></footer>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
