<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="Eng">
<head th:replace="fragments/header :: head('Profile')">
    <title>Profile</title>
</head>


<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>

<div class="profile-grid mt-2">

    <div class="profile-info">
        <!--    ///////////////////////////////////////////////////////////////-->

        <div class="text-center">
            <img alt="profile image" style="width: 16em; height: 16em;"
                 class="shadow-lg rounded-circle img-profile m-0-auto"
                 th:attr="src=@{${user.profileImage}}">
            <h2 th:text="${user.firstName} + ' ' + ${user.lastName}" class="text-center font-weight-light"></h2>
            <a th:href="@{|/profile/edit|}" class="m-1">
                <button class="m-1">Edit Profile</button>
            </a>

            <!-- //////////////////////Only for Admin//////////////////////////////////-->
            <div th:if="${user.getUserRole()} == 'admin'">
                <a th:href="@{|/admin-profile|}" class="m-1">
                    <button class="m-1">Admin Page</button>
                </a>
            </div>
        </div>


    </div>

    <div class="posts-area container">


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab"
                   aria-controls="favorites" aria-selected="false">Favorites</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row pt-4">

                    <div class="col-md-12">

                        <div class="card-columns">
//                            Cards for posts
                            <div th:each="post : ${posts}" th:if="${user.id} == ${post.user.id}">

                                <div class="card shadow bg-white rounded">
                                    <img class="card-img-top" th:attr="src=@{${post.postImageUrl}}" alt="Recipe image">
                                    <div class="card-body">
                                        <a th:href="@{|/post/${post.id}|}">
                                            <h2 class="card-title text-center" th:text="${post.title}"></h2>
                                        </a>

                                    </div>
                                    <div class="card-footer">
                                        <div th:if="${user.id} == ${post.getUser().id}">
                                            <a th:href="@{|/posts/${post.id}/edit|}">
                                                <button>Edit</button>
                                            </a>
                                            <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </div>
                                        <div th:if="${user.id} != ${post.getUser().id}">
                                            <h4 th:text="${post.user.username}"></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row pt-4">

                    <div class="col-md-12">
//                        Favorites
                        <div class="card-columns">
                            <div th:each="favorite : ${favorites}">
                                <div th:if="${favorite.user.id } == ${user.id}">

                                    <div class="card shadow bg-white rounded">
                                        <img class="card-img-top" th:attr="src=@{${favorite.postImageUrl}}"
                                             alt="Recipe image">
                                        <div class="card-body">
                                            <a th:href="@{|/post/${favorite.id}|}">
                                                <h2 class="card-title text-center" th:text="${favorite.title}"></h2>
                                            </a>
                                        </div>
                                        <div class="card-footer">
                                            <h4 th:text="${favorite.user.username}"></h4>
                                            <form th:action="@{|/favorites/${favorite.id}/delete|}" th:method="POST">
                                                <button type="submit">Delete Favorite</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <ul class="nav nav-tabs card-header-tabs" id="user-list" role="tablist">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Posts</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link"  href="#history" role="tab" aria-controls="history" aria-selected="false">Favorites</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <div class="tab-content mt-3">-->
<!--                    <div class="tab-pane active" id="description" role="tabpanel">-->
<!--                        <div class="col-md-12">-->

<!--                            <div class="card-columns">-->
<!--                                &lt;!&ndash;   /////////////////////////// Cards for posts/////////////////// &ndash;&gt;-->
<!--                                <div th:each="post : ${posts}" th:if="${user.id} == ${post.user.id}">-->

<!--                                    <div class="card shadow bg-white rounded">-->
<!--                                        <img class="card-img-top" th:attr="src=@{${post.postImageUrl}}" alt="Recipe image">-->
<!--                                        <div class="card-body">-->
<!--                                            <a th:href="@{|/post/${post.id}|}">-->
<!--                                                <h2 class="card-title text-center" th:text="${post.title}"></h2>-->
<!--                                            </a>-->

<!--                                        </div>-->
<!--                                        <div class="card-footer">-->
<!--                                            <div th:if="${user.id} == ${post.getUser().id}">-->
<!--                                                <a th:href="@{|/posts/${post.id}/edit|}">-->
<!--                                                    <button>Edit</button>-->
<!--                                                </a>-->
<!--                                                <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">-->
<!--                                                    <button type="submit">Delete</button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                            <div th:if="${user.id} != ${post.getUser().id}">-->
<!--                                                <h4 th:text="${post.user.username}"></h4>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">-->

<!--                        <div class="col-md-12">-->
<!--                            &lt;!&ndash; ////////////////////// Favorites /////////////////////////////  &ndash;&gt;-->

<!--                            <div class="card-columns">-->
<!--                                <div th:each="favorite : ${favorites}">-->
<!--                                    <div th:if="${favorite.user.id } == ${user.id}">-->

<!--                                        <div class="card shadow bg-white rounded">-->
<!--                                            <img class="card-img-top" th:attr="src=@{${favorite.postImageUrl}}"-->
<!--                                                 alt="Recipe image">-->
<!--                                            <div class="card-body">-->
<!--                                                <a th:href="@{|/post/${favorite.id}|}">-->
<!--                                                    <h2 class="card-title text-center" th:text="${favorite.title}"></h2>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div class="card-footer">-->
<!--                                                <h4 th:text="${favorite.user.username}"></h4>-->
<!--                                                <form th:action="@{|/favorites/${favorite.id}/delete|}" th:method="POST">-->
<!--                                                    <button type="submit">Delete Favorite</button>-->
<!--                                                </form>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:replace="fragments/scripts.html :: scripts"></div>
<footer th:replace="fragments/footer.html :: footer"></footer>
<script>
    $('#user-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
</body>
</html>