<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('Register - BlogForFun')"></head>
<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>

<header class="container my-5"></header>
<div class="jumbotron-show">
    <h1 class="text-center text-dark display-1" id="h1-signup">Create Account</h1>
</div>
                <!--//////////// fields for sign up form/////////////// -->
<div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg login-box-image">
    <!--        <div class="col-sm-12 col-md-6 mx-auto text-center p-3 card card-block shadow-lg">-->
    <h1 class="signup-text">Create account</h1>
    <br>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">

        <label for="username">Username</label>
        <input class="mx-auto w-75 shadow-sm form-control" placeholder="Enter your first name..." th:field="*{username}" />

        <label for="email">Email</label>
        <input class="mx-auto w-75 shadow-sm form-control" th:field="*{email}" placeholder="Enter your email.."/>

        <label for="firstName">First Name</label>
        <input class="mx-auto w-75 shadow-sm form-control" th:field="*{firstName}" placeholder="Enter your first name"/>

        <label for="lastName">Last Name</label>
        <input class="mx-auto w-75 shadow-sm form-control" th:field="*{lastName}" placeholder="Enter your last name"/>

        <label for="password">Password</label>
        <input class="mx-auto w-75 shadow-sm form-control" type="password" th:field="*{password}" placeholder="Enter your password"/>

        <input value="Sign me up!" type="submit" />


    </form>


</div>

<!--<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Launch modal</a>-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-full" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Modal</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">×</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body p-4" id="result">-->
<!--                <p>The grid inside the modal is responsive too..</p>-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-6 col-lg-3"> Content </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>