
/*#A59F97*/
/*#5F0F39*/
/*#2096A4*/
/*#431D31*/
/*#DED0D0*/
/*#621012*/
/*#631936*/
.profile-grid {
    display: grid;
    grid-template-columns: 12% 13% repeat(3, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.profile-info {
    grid-area: 1 / 1 / 6 / 3;
}

.posts-area {
    grid-area: 1 / 3 / 6 / 6;
}

body{
    /*background-color:#DED0D0*/
            /*#431D31*/
}

.jumbotron{
    background-color: #621012;
}

#h1-titles{
    font-family: 'Merienda One', cursive;
    text-shadow: 3px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

a{
    color: #621012;
    font-family: 'Open Sans', sans-serif;
}
a:hover{
    color: #2096A4;
}

.navbar-1{
    background-color:white;
}

.card{
    border: black 2px solid;
}

.nav-hamburgerIcon{
    color: #621012;
}

.about-i {
    position: relative;
    font-size: 40px;
    line-height: 1;
    color: steelblue;
}
.i-mail{
    top: -1px;!important;
}
.flex{
    display: flex;
    justify-content: space-around;
}

