<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head('About')"></head>

<body>
<nav th:replace="fragments/navbar.html :: user-navbar"></nav>


<!--<header class="container my-5"></header>-->
<div class="jumbotron">
    <h1 class="text-center text-dark display-1" id="h1-about">Creators</h1>
    <h1 class="text-center text-dark display-1" id="h1-about1">Blog for Fun</h1>
</div>

<div class=" container">
    <div class="row">

        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-1 shadow about-card">
                <h5 class="card-title text-center">Crystal Thibodeau</h5>
                <img class="card-img-top" src="images/Thibs.png" alt="..."/>
                <div class="card-body text-center">
                    <a href="https://alumni.codeup.com/students/777">
                        <img src="images/codeup_tag.png" style="width:50px;height:50px;" alt="">
                    </a>
                    <a href="https://github.com/crystalthibodeau">
                        <img src="images/github.png" style="width:50px;height:50px;" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/crystal-thibodeau">
                        <img src="images/linkedin_tag.png" style="width:50px;height:50px;" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-1 shadow">
                <h5 class="card-title text-center ">Paris Tyus</h5>
                <img class="card-img-top" src="images/Paris-Tyus.jpg" alt="..."/>
                <div class="card-body text-center ">
                    <a href="https://alumni.codeup.com/students/779">
                        <img src="images/codeup_tag.png" style="width:50px;height:50px;" alt="">
                    </a>
                    <a href="https://github.com/ParisTyus1">
                        <img src="images/github.png" style="width:50px;height:50px;" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/paris-tyus/">
                        <img src="images/linkedin_tag.png" style="width:50px;height:50px;" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- Team member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-1 shadow">
                <h5 class="card-title text-center ">Ted Zamarron</h5>
<!--                <img class="card-img-top" src="images/Paris-Tyus.jpg" alt="..."/>-->
                <div class="card-body text-center ">
<!--                    <a href="https://alumni.codeup.com/students/779">-->
<!--                        <img src="images/codeup_tag.png" style="width:50px;height:50px;" alt="">-->
<!--                    </a>-->
<!--                    <a href="https://github.com/ParisTyus1">-->
<!--                        <img src="images/github.png" style="width:50px;height:50px;" alt="">-->
<!--                    </a>-->
<!--                    <a href="https://www.linkedin.com/in/paris-tyus/">-->
<!--                        <img src="images/linkedin_tag.png" style="width:50px;height:50px;" alt="">-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/contact-us"><button>Send email</button></a>
    </div>
</div>
</body>
</html>